button {
    cursor: pointer !important;
}

.container_filters form input {
    border-radius: 6px 0 0 6px;
}

.container_filters form button {
    border-radius: 0 6px 6px 0;
    margin: 0.2em 0 0.05em 0;
}
